body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  padding: 0px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  padding: 50px 0;
}

h2 {
  margin-top: 0;
}

.project {
  margin-bottom: 20px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.my-profile-img {
    width: 200px;
    height: 200px;
    display: float;
    margin-bottom: 20px;
}

.top-container {
    padding: 20px;
    text-align: center;
}


/* ボタン全体 */
.flowbtn7{
    border-radius:50%;
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    font-size:30px;
    color:#fff!important;
    text-decoration:none;
    transition:.5s;			
}
/* アイコンをど真ん中に*/
.flowbtn7 i{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
    padding:0!important;
}
/* ボタン全体の位置 */
.snsbtniti{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}
/* ボタン同士の余白 */
.snsbtniti li{
    flex:0 0 33%;
    text-align:center !important;
}
/* ボタンにマウスを乗せた時 */
.flowbtn7:hover{
    -webkit-transform:translateY(-5px);
    -ms-transform:translateY(-5px);
    transform:translateY(-5px);
}
/* Twitter */
.fl_tw7{
    background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
}
/* Instagramアイコン位置 */
.insta_btn7 .fa-instagram{
    font-size:35px;	
}
/* Instagram紫グラデ背景 */
.insta_btn7{
    background:-webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background:linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    overflow:hidden;	
}
/* Instagramオレンジグラデ背景 */
.insta_btn7:before{
    content:"";
    position:absolute;
    top:27px;
    left:-12px;
    width:59px;
    height:40px;
    background:-webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background:radial-gradient(#ffdb2c 5%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
/* Facebook */
.fl_fb7{
    background: linear-gradient(135deg, #6699ff 0%,#3b5998 100%);
}
/* Feedly */
.fl_fd7{
    background:linear-gradient(135deg, #b1ea4d 0%,#459522 100%);
    font-size:28px;
}
/* Pocket */
.fl_pk7{
    background:linear-gradient(135deg, #f36265 0%,#dd4f68 100%);
}
/* はてブ */
.fl_hb7{
    background: linear-gradient(to bottom, #1fbccd 0%, #1c91d4 84%);
    font-size:25px;
}
/* YouTube */
.fl_yu7{
    background:linear-gradient(135deg, #f5515f 0%,#c9293c 100%);
    font-size:26px;
}
/* LINE */
.fl_li7{
    background: linear-gradient(135deg, #3a9278 0%,#00c300 100%);
}
/* メールボタン */
.fl_ma7{
    background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
    font-size:26px;	
}



